<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
</head>

<body>
    <style>
        @import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700|Source+Sans+Pro:300,400,600,700&display=swap");
        :root {
            --appBodyColor: #373e57;
            --appBoxColor: #151728;
            --ColorText: white;
            --FontText: "DM Sans", sans-serif;
        }

        * {
            margin: 0;
            padding: 0;
        }
        body{
            background-color: var(--appBodyColor);
        }

        .menu {
            background-color: var(--appBoxColor);
            height: 50px;
            width: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .link_menu {
            text-decoration: none;
            color: black;
            margin: 5px;
        }

        aside {
            height: 60vh;
            width: 300px;
            border: 3px solid var(--appBoxColor);
            border-radius: 20px;
        }

        .container {
            margin-top: 40px;
        }

        .reg_box {
            background-color: var(--appBodyColor);
            width: 300px;
            height: 50vh;
            border-radius: 20px;
            border: 3px solid var(--appBoxColor);
            outline: 2px solid var(--appBodyColor);
        }

        .loginOrReg {
            background-color: var(--appBoxColor);
            height: 20%;
            border-radius: 20px;
            margin-left: 5px;
            margin-right: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .form {
            height: 78%;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .inputs {
            height: 60%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            position: relative;
        }

        .regLink {
            text-decoration: none;
            color: var(--appBodyColor);
        }

        .loginOrReg:hover {
            background-color: var(--ColorForBtn);
        }

        .inputBtn {
            height: 30px;
            border: none;
            border-radius: 8px;
            background-color: var(--appBoxColor);
            color: var(--appBodyColor);
        }

        .inputBtn:hover {
            background-color: var(--ColorForBtn);
        }

        .err {
            background-color: var(--appBoxColor);
            height: 40px;
            width: 300px;
            position: absolute;
            top: 100px;
            color: rgb(226, 78, 78);
            border-radius: 5px;
            text-align: center;
        }

        .input {
            height: 30px;
            border: 1px solid var(--appBoxColor);
            text-align: center;
            border-radius: 8px;
        }

        .err_input::placeholder {
            color: red;
        }

        .vis {
            visibility: hidden;
        }
    </style>
    {{{body}}}
</body>
<html>