<div class="cange_box">
    <div class="title title_change">
        <input class="input_change" type="text">
    </div>
    <div class="arial taria">
        <textarea name="text" id="y" cols="50" rows="30" class="taria textInput">
        </textarea>
        <div class="box_btn">
            <button class="btnChange">Сохранить</button>
        </div>
    </div>
</div>
<div class="cart">
    <div class="title">
        <p data-author="{{name}}">{{head}}</p>
        <button class="change btn">Редактировать</button>
    </div>
    <div class="arial div">
        {{text}}
    </div>
</div>
<style>
    :root {
        --appFirstColor: #BFFFC7;
        --appSecondColor: #0A8270;
        --ColorForBtn: #85b98c;
    }
    .btnChange {
        background-color: var(--appSecondColor);
        border: none;
        border-radius: 15px;
        height: 30px;
        width: 100px;
        margin-right: 10px;
    }

    .cange_box {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        visibility: hidden;
    }

    .change {
        background-color: var(--appSecondColor);
        color: white;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border: none;
        width: 100px;
        height: 100%;
    }

    .input_change {
        color: aquamarine;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        border: none;
        padding-left: 20px;
    }

    .cart {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        width: 80vw;
        border: 4px solid var(--appSecondColor);
        height: 30px;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .box_btn {
        display: flex;
        width: 100%;
        height: 10%;
        justify-content: end;
        align-items: end
    }

    .title_change {
        border: 4px solid var(--appFirstColor);
    }

    .arial {
        height: 80vh;
        border: 4px solid var(--appSecondColor);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        width: 90vw;
        margin-top: 50px;
    }

    .taria {
        text-align: center;
        border-radius: 20px;
        border: 4px solid var(--appFirstColor);
        color: aquamarine;

    }

    .textInput {
        width: 100%;
        border: none;
        padding: 10px;
        box-sizing: border-box;
        font-size: large;
    }

    * {
        margin: 0;
        padding: 0;
    }

    .menu {
        background-color: var(--appSecondColor);
        height: 50px;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .link_menu {
        text-decoration: none;
        color: var(--appFirstColor);
        margin: 5px;
    }

    aside {
        height: 60vh;
        width: 300px;
        border: 3px solid var(--appSecondColor);
        border-radius: 20px;
    }

    .container {
        margin-top: 40px;
    }

    .login {
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--appSecondColor);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .reg_box {
        background-color: var(--appSecondColor);
        width: 300px;
        height: 50vh;
        border-radius: 20px;
        border: 3px solid var(--appSecondColor);
        outline: 2px solid var(--appFirstColor);
    }

    .loginOrReg {
        background-color: var(--appSecondColor);
        height: 20%;
        border-radius: 20px;
        margin-left: 5px;
        margin-right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form {
        height: 78%;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .inputs {
        height: 60%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .regLink {
        text-decoration: none;
        color: var(--appFirstColor);
    }

    .loginOrReg:hover {
        background-color: var(--ColorForBtn);
    }

    .inputBtn {
        height: 30px;
        border: none;
        border-radius: 8px;
        background-color: var(--appSecondColor);
        color: var(--appFirstColor);
    }

    .inputBtn:hover {
        background-color: var(--ColorForBtn);
    }

    .input {
        height: 30px;
        border: 1px solid var(--appSecondColor);
        text-align: center;
        border-radius: 8px;
    }

    .err {
        background-color: var(--appSecondColor);
        height: 40px;
        width: 300px;
        position: absolute;
        top: 100px;
        color: rgb(226, 78, 78);
        border-radius: 5px;
        text-align: center;
    }
</style>
<script>
    const btn = document.querySelector('.btn');
    const box1 = document.querySelector('.cart');
    const box2 = document.querySelector('.cange_box');
    const input = document.querySelector('.input_change');
    const aria = document.querySelector('.textInput');
    const par = document.querySelector('p');
    const div = document.querySelector('.div');
    const btnChan = document.querySelector('.btnChange');

    async function response(url, obj, fun) {
        const res = await fetch(url, {
            method: 'post',
            body: JSON.stringify(obj),
            headers: {
                'content-type': 'application/json'
            }
        })
        let json = await res.json().then(fun);
        return json;
    }



    btn.addEventListener('click', function () {
        box1.style.visibility = 'hidden';
        box2.style.visibility = 'visible'
        aria.value = div.textContent;
        input.value = par.textContent;
    });

    btnChan.addEventListener('click', function () {
        const name = par.dataset.author;
        response('http://192.168.0.52:3000/change', { head: input.value, text: aria.value, name: name, pastHead: par.textContent },
            (data) => {
                if (data.message === 'ok') {
                    window.location.href = `/?name=${name}`;
                }
            })
    });

</script>